# 1. Google Gemini
GEMINI_API_KEY_1=

# 2. OpenRouter (Access to free Llama/Gemma)
OPENROUTER_API_KEY_1=

# 3. HuggingFace (Free Access Token)
HF_API_KEY_1=

# 4. Cohere (Generous free tier)
COHERE_API_KEY_1=

# 5. Backup (Can be a 2nd OpenRouter or Gemini key)
BACKUP_API_KEY=

VECTOR_DB_TYPE=chroma
